<div class="container">
  <h1>Showing selected article</h1>
    <div class="table-responsive">
    <table class="table table-bordered">
      <tr><th>Title</th><th>Description</th><th>Qty</th><th>Price</th></tr>
      <tr><td><%= @article.title %></td><td><%= @article.description %></td><td><%= @article.qty %></td><td><%= @article.price %></td></tr>
    </table>
    </div>
    <div class="article-actions">
      <%= link_to "Edit the article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete the article", articles_path(@article), method: :delete, 
          data: { confirm: "Are you sure you want to delte the article?" }, 
          class: "btn btn-xs btn-danger" %>
      <%= link_to "View all articles", articles_path , class: "btn btn-xs btn-success" %>          
    </div>
</div>